<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>
    <link rel="stylesheet" href="{% static '/css/landingPage.css' %}">
    <script src="https://kit.fontawesome.com/43c9ab6ad0.js" crossorigin="anonymous"></script>
</head>
<body>
    <section class="bg-wrapper">
        <nav class="nav">
            <div class="logo">
                <img src="{% static 'icon/navbar-icons/Stratify Icon.png' %}">
                <h3>Stratify</h3>
            </div>
            {% if request.user.is_authenticated %}
                <div class ="goHome">
                    <a href="{% url 'home' %}"><button class="btn-home"><h3>Home</h3></button></a>
                </div>
            {% else %}
                <div class="buttons-right">
                    <a href="{% url 'login' %}"><button class="btn-login"><h3>SignIn</h3></button></a>
                    <a href = "{% url 'register' %}"><button class="btn-signUp"><h3>SignUp</h3></button></a>
                </div>
            {% endif %}
            <div class="hiddengoHome">
                <button>Home</button>
            </div>
        </nav>
        <section class="hero">
            <div class="title">
                <h1>Stratify Permudah Pertumbuhan Bisnismu <br> dengan keputusan yang benar</h1>
                <h4>Dengan Stratify, tampilkan data statistik bisnis , analisis performa secara mendalam, dan buat keputusan yang lebih cerdas untuk mendorong pertumbuhan bisnis anda.</h4>
                <a href="{% url 'home' %}"><button><h3>Mulai Sekarang</h3></button></a>
            </div>
            <div class="preview">
                <img src="{% static 'bg/preview.png' %}">
            </div>
            <div class="stats">
                <div class="totalBisnis">
                    <h1 class="tB">500+</h1>
                    <h4>Bisnis UMKM <br> yang terdaftar</h4>
                </div>
                <div class="totalTransaksi">
                    <h1 class="tT">300+</h1>
                    <h4>Total Transaksi <br> Bulanan</h4>
                </div>
                <div class="totalInvestor">
                    <h1 class="tI">1000+</h1>
                    <h4>Investor <br> Terpercaya</h4>
                </div>
            </div>
        </section>
    </section>
    <section class="features">
        <div class="title">
            <div class="left-title">
                <h3>Sederhana & Efisien</h3>
                <h1>Sederhankan Bisnis Anda <br> dengan Stratify</h1>
            </div>
            <div class="right-title">
                <h4>"Dengan stratify, bisnis tidak perlu menjadi ribet,<br> kami akan menyederhanakan analisis bisnis anda."</h4>
                <button><h3>Mulai Sekarang</h3></button>
            </div>
        </div>
        <div class="wrapper">
            <div class="bentoBox">
                <div class="box">
                    <img src="{% static '/icon/features-logos/Feature-1.png' %}">
                    <div class="description">
                        <h3>Pelaporan Keuangan Instan</h3>
                        <h4>Memungkinkan pengguna untuk menghasilkan laporan keuangan otomatis yang dapat diunduh dalam berbagai format (PDF, Excel).</h4>
                    </div>
                </div>
                <div class="box">
                    <img src="{%  static 'icon/features-logos/Feature-2.png' %}">
                    <div class="description">
                        <h3>Keamanan Data Terenkripsi</h3>
                        <h4>Menjamin keamanan data bisnis dengan enkripsi tingkat tinggi , agar informasi hanya dapat di akses oleh pemiliknya</h4>
                    </div>
                </div>
                <div class="box">
                    <img src="{% static  '/icon/features-logos/Feature-3.png' %}">
                    <div class="description">
                        <h3>Rekomendasi Strategi Bisnis</h3>
                        <h4>Memberikan saran berbasis data untuk meningkatkan profitabilitas dan efisiensi bisnis berdasarkan tren keuangan.</h4>
                    </div>
                </div>
            </div>
            <div class="layer-2">
                <div class="dashboard">
                    <img src="{% static '/icon/features-logos/Feature-4.png' %}">
                    <div class="description">
                        <h3>Dashboard Keuangan Terpadu</h3>
                        <h4>Menampilkan ringkasan keuangan bisnis dalam satu tampilan, termasuk pemasukan, pengeluaran, </h4>
                    </div>
                </div>
                <div class="analysis">
                    <img src="{% static '/icon/features-logos/Feature-5.png' %}">
                    <div class="description">
                        <h3>Analisis Keuangan Otomatis</h3>
                        <h4>Menggunakan algoritma untuk menganalisis data keuangan dan memberikan insight tentang kesehatan finansial bisnis.</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature-divider">
            <div class="left-side">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
            </div>
            <div class="right-side">
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
            </div>
        </div>
    </section>
    <div class="divider"></div>
    <section class="why-us">
        <div class="title">
            <h1>Mengapa Pilih Kami?</h1>
            <h3>Dengan Stratify, kami menyederhanakan <br> segalanya, dari awal sampai akhir</h3>
        </div>
        <div class="content">
            <div class="content-1">
                <img src="{% static 'icon/why-us-logos/logo1.png' %}">
                <div class="description">
                    <h3>Berkualitas <br> dan Terpercaya</h3>
                    <h4>Didukung teknologi canggih dengan keamanan tinggi untuk analisis bisnis yang akurat.</h4>
                </div>
            </div>
            <div class="content-2">
                <img src="{% static 'icon/why-us-logos/logo2.png' %}">
                <div class="description">
                    <h3>Dipercaya oleh <br> Pengusaha Lokal</h3>
                    <h4>Bersama UMKM , Stratify mendukung pertumbuhan bisnis berbasis kearifan lokal.</h4>
                </div>
            </div>
            <div class="content-3">
                <img src="{% static '/icon/why-us-logos/logo3.png' %}">
                <div class="description">
                    <h3>Mudah <br> Untuk Digunakan </h3>
                    <h4>Antarmuka intuitif, cocok untuk pemula maupun profesional tanpa perlu keahlian khusus.</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="top-umkm">
        <div class="wrapper">
            <div class="bg-slider">
                <img src="{% static '/bg/bg-sliders/1.png' %}" class="slider-image active" alt="UMKM background 1" />
                <img src="{% static '/bg/bg-sliders/2.png' %}" class="slider-image hidden" alt="UMKM background 2" />
                <img src="{% static 'bg/bg-sliders/3.png' %}" class="slider-image hidden" alt="UMKM background 3" />
            </div>
            <div class="description">
                <div class="desc-header">
                    <h3>Local Coffee Cita Rasa Lokal, <br>Kehangatan yang Tak Pernah Usai</h3>
                    <h4>Terletak di jantung Seminyak, Denpasar, Local Coffee hadir dengan suasana hangat dan tenang, serta racikan kopi berkualitas yang dibuat dengan penuh cinta. Tempat yang pas untuk melarikan diri dari hiruk pikuk kota dan menikmati keintiman dalam setiap cangkir.</h4>
                </div>
                <div class="desc-header-hidden">
                    <h3>Local Coffee</h3>
                    <h4>Local Coffee merupakan coffe shop local di seminyak, denpasar, bali yang ,Dikenal dengan suasana yang nyaman dan cita rasa kopi berkualitas,</h4>
                </div>
                <div class="desc-header-hidden">
                    <h3>Local Coffee</h3>
                    <h4>Local Coffee merupakan coffe shop local di seminyak, denpasar, bali yang ,Dikenal dengan suasana yang nyaman dan cita rasa kopi berkualitas,</h4>
                </div>
                <div class="controls">
                    <button><a href="{% url 'home' %}"><h3>Lihat Detail</h3></a></button>
                    <i class="fa-solid fa-arrow-left"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
            <div class="decoration">
                <div class="left-bot">
                    <h1>1/3</h1>
                    <div class="line-vertical"></div>
                    <div class="line-horizontal"></div>
                    <h4>Stratify</h4>
                </div>
                <div class="right-bot">
                    <div class="right-3">
                        <h1>03</h1>
                        <h3>Local <br> Coffee</h3>
                    </div>
                    <div class="right-2">
                        <h1>02</h1>
                        <h3>Local <br> Coffee</h3>
                    </div>
                    <div class="right-1">
                        <h1>01</h1>
                        <h3>Local <br> Coffee</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial">
        <div class="title">
            <h1>Testimoni Klien</h1>
            <h3>Berikut review dari pelanggan Stratify</h3>
        </div>
        <div class="testimonies">
            <div class="box">
                <img class="ratings">
                <h3> "Sangat membantu! Analisis keuangan jadi lebih mudah dan cepat."</h3>
                <div class="user">
                    <img class="user-logo">
                    <h4>Andi.s</h4>
                </div>
            </div>
            <div class="box">
                <img class="ratings">
                <h3> "Sangat membantu! Analisis keuangan jadi lebih mudah dan cepat."</h3>
                <div class="user">
                    <img class="user-logo">
                    <h4>Andi.s</h4>
                </div>
            </div>
            <div class="box">
                <img class="ratings">
                <h3> "Sangat membantu! Analisis keuangan jadi lebih mudah dan cepat."</h3>
                <div class="user">
                    <img class="user-logo">
                    <h4>Andi.s</h4>
                </div>
            </div>
            <div class="box">
                <img class="ratings">
                <h3> "Sangat membantu! Analisis keuangan jadi lebih mudah dan cepat."</h3>
                <div class="user">
                    <img class="user-logo">
                    <h4>Andi.s</h4>
                </div>
            </div>
            <div class="box">
                <img class="ratings">
                <h3> "Sangat membantu! Analisis keuangan jadi lebih mudah dan cepat."</h3>
                <div class="user">
                    <img class="user-logo">
                    <h4>Andi.s</h4>
                </div>
            </div>
            <div class="box">
                <img class="ratings">
                <h3> "Sangat membantu! Analisis keuangan jadi lebih mudah dan cepat."</h3>
                <div class="user">
                    <img class="user-logo">
                    <h4>Andi.s</h4>
                </div>
            </div>
        </div>
        <div class="contact-us">
            <div class="title">
                <h3>Ada Kendala atau Masalah?</h3>
                <h4>Menghadapi masalah atau ada pertanyaan yang ingin disampaikan, Jangan takut untuk mengontak kami!</h4>
            </div>
            <button><h3>Kontak Kami</h3></button>
        </div>
    </section>
    <section class="footer">
        <div class="main-title">
            <h1>Stratify</h1>
            <h3>Solusi untuk Bisnis Anda</h3>
        </div>
        <div class="sub-title">
            <div class="sitemap">
                <h3>Sitemap</h3>
                <ul>
                    <li><h4>Dashboard</h4></li>
                    <li><h4>LandingPage</h4></li>
                    <li><h4>Messaging</h4></li>
                    <li><h4>Account</h4></li>
                </ul>
            </div>
            <div class="about">
                <h3>Tentang Kami</h3>
                <ul>
                    <li><h4>Tentang Stratify</h4></li>
                    <li><h4>Cara Kerja</h4></li>
                    <li><h4>Blog & Insight</h4></li>
                    <li><h4>Career</h4></li>
                </ul>
            </div>
            <div class="stratify">
                <h3>Tentang Kami</h3>
                <ul>
                    <li><h4>Syarat & Ketentuan</h4></li>
                    <li><h4>Kebijakan Privasi</h4></li>
                </ul>
            </div>
            <div class="address">
                <h3>Alamat</h3>
                <ul>
                    <li>
                        <h4>
                            Jl. Sunset Road No. 123,<br>
                            Seminyak, Bali 80361<br>
                            Contact: +62 812-3456-7890<br>
                            Email: Hassan@gmail.com 
                        </h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="copyright">
        <h4>© 2025 Stratify. hak cipta dilindungi undang-undang. | Kebijakan Privasi | Ketentuan Layanan</h4>
    </div>
    <script src="{% static 'js/landingPage.js' %}">
        console.log('kenapa ini')
    </script>
</body>
</html>