{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
  <h2>Chart Terpilih</h2>
  {% for chart in charts %}
    <div class="my-4">
      <h5>{{ chart.title }}</h5>
      <canvas id="chart-{{ chart.id }}"></canvas>
    </div>
  {% endfor %}
  {% if request.user.role == 1%}
      <a href="{% url 'analyticsCompany' %}"><button>Return to analytic</button></a>
      <a href="{% url 'view_profile' request.user.username %}"><button>Return to view_profile</button></a>
  {% elif request.user.role == 2 %}
      <a href="{% url 'analyticsInvestor' %}"><button>Return to analytic</button></a>
      <a href="{% url 'view_profile' request.user.username %}"><button>Return to view_profile</button></a>
  {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  {% for chart in charts %}
    new Chart(document.getElementById('chart-{{ chart.id }}'), {
      type: '{{ chart.chart_type }}',
      data: {
        labels: {{ chart.labels|safe }},
        datasets: [{
          label: '{{ chart.title }}',
          data: {{ chart.values|safe }},
          backgroundColor: 'rgba(75, 192, 192, 0.5)',
          borderColor: 'rgba(75, 192, 192, 1)',
          borderWidth: 1
        }]
      },
      options: {
        responsive: true
      }
    });
  {% endfor %}
</script>
{% endblock %}