<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <script src="https://kit.fontawesome.com/43c9ab6ad0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/editCompanyInvestorProfile.css' %}">

</head>
<body>
  <div class="profile-form">
    {% if request.user.role == 1 %}
     <h1 class="form-title">Edit {{request.user.username}} Company's Profile</h1>
    {% elif request.user.role == 2 %}
      <h1 class="form-title">Edit {{request.user.username}}'s Profile</h1>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- Company Basic Info -->
      <div class="form-section">
        <div class="form-group">
          {% if request.user.role == 1 %}
            <label for="company-name">Company Name</label>
            <input type="text" id="company-name" placeholder="Company Name" required name="company_name">
          {% elif request.user.role == 2 %}
            <label for="investor-name">Investor Name</label>
            <input type="text" id="investor-name" placeholder="Investor Name" required name="investor_name">
          {% endif %}
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" id="location" placeholder="Location name" name="location">
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input type="url" id="website" placeholder="https://www.wikipedia.org"  name="website">
        </div> 
      </div>

      <!--Picture Section-->
      <div class="form-section">
        <div class="form-group">
          <label>Profile Picture</label>
          <div class="upload">
            <div class="current-picture">
              <img src="profile_pics/dokumentasi_31_mei_2025_VIQ0df3.png" alt="#" id="profileImagePreview">
            </div>
            <div class="file-upload">
              <button type="button" class="clear-profile">Clear</button>
              <input type="file" id="profile-upload" accept="image/*" name="profile_picture">
              <label for="profile-upload" class="upload-btn">Choose File</label>
              <span class="file-name">No file chosen</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>BG Picture</label>
          <div class="upload">
            <div class="current-BG">
              <img src="profile_pics/dokumentasi_31_mei_2025_VIQ0df3.png" alt="#" id="bgImagePreview">
            </div>
            <div class="file-upload">
              <button type="button" class="clear-bg">Clear</button>
              <input type="file" id="bg-upload" accept="image/*" name="profile_bg">
              <label for="bg-upload" class="upload-btn">Choose File</label>
              <span class="file-name">No file chosen</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Selection -->
      <div class="form-section">
        <div class="form-group">
          <label for="category">Category</label>
          <select id="category" name="category">
            <option value="">Select Category</option>
              <option value="FnB" {% if category_filter == 'FnB' %}selected{% endif %}>FnB</option>
              <option value="Jasa" {% if category_filter == 'Jasa' %}selected{% endif %}>Jasa</option>
              <option value="Grosir" {% if category_filter == 'Grosir' %}selected{% endif %}>Grosir</option>
              <option value="Peralatan Gudang" {% if category_filter == 'Peralatan Gudang' %}selected{% endif %}>Peralatan Gudang</option>
              <option value="Dekorasi" {% if category_filter == 'Dekorasi' %}selected{% endif %}>Dekorasi</option>
              <option value="Other" {% if category_filter == 'Other' %}selected{% endif %}>Other</option>
          </select>
        </div>
        {% if request.user.role == 1 %}
          <div class="form-group">
            <label for="reputation">Reputation</label>
            <select id="reputation" name="reputation">
              <option value="">Select Reputation Level</option>
              <option value="excellent">Excellent</option>
              <option value="good">Good</option>
              <option value="fair">Fair</option>
            </select>
          </div>
        {% endif %}
        {% if request.user.role == 1 %}
        <div class="form-group">
          <label for="umkm-level">UMKM Level</label>
          <select id="umkm-level" name="umkm_level">
            <option value="">Select UMKM Level</option>
            <option value="micro">Micro</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
          </select>
        </div>
        {% endif %}
      </div>

      <!-- Vision & Mission & Bio -->
      <div class="form-section">
        <div class="form-group">
          <label for="bio">Bio</label>
          <textarea id="bio" rows="3" name="bio" placeholder="Your Bio"></textarea>
        </div>
        <div class="form-group">
          <label for="vision">Vision</label>
          <textarea id="vision" rows="3" name="vision" placeholder="Your Vision"></textarea>
        </div>
        <div class="form-group">
          <label for="mission">Mission</label>
          <textarea id="mission" rows="3" name="mission" placeholder="Your Mission"></textarea>
        </div>
      
      </div>

      <!-- Form Actions -->
      <div class="form-actions">
          <a href="{% url 'view_profile' request.user.username %}" class="btn btn-secondary">
              <button type="button" class="cancel-btn">Cancel</button>
          </a>
          <button type="submit" class="submit-btn">Save Changes</button>
      </div>
    </form>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const inputProfile = document.getElementById('profile-upload');
      const inputBackground = document.getElementById('bg-upload');

      const fileNameSpanProfile = inputProfile?.parentElement.querySelector('.file-name');
      const fileNameSpanBackground = inputBackground?.parentElement.querySelector('.file-name');

      const clearBtnProfile = document.querySelector('.clear-profile');
      const clearBtnBackground = document.querySelector('.clear-bg');

      const profileImagePreview = document.getElementById('profileImagePreview');
      const bgImagePreview = document.getElementById('bgImagePreview');

      clearBtnProfile.style.display = 'none';
      clearBtnBackground.style.display = 'none';

      // Update file name when file is selected
      inputProfile?.addEventListener('change', function () {
        const fileName = inputProfile.files.length > 0 ? inputProfile.files[0].name : 'No file chosen';
        fileNameSpanProfile.textContent = fileName;
      });

      inputBackground?.addEventListener('change', function () {
        const fileName = inputBackground.files.length > 0 ? inputBackground.files[0].name : 'No file chosen';
        fileNameSpanBackground.textContent = fileName;
      });

      // Show profile preview
      inputProfile?.addEventListener('change', () => {
        const file = inputProfile.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = (e) => {
            profileImagePreview.src = e.target.result;
            profileImagePreview.style.display = 'block';
            clearBtnProfile.style.display = 'inline-block';
          };
          reader.readAsDataURL(file);
        }
    });

  // Show background preview
  inputBackground?.addEventListener('change', () => {
    const file = inputBackground.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        bgImagePreview.src = e.target.result;
        bgImagePreview.style.display = 'block';
        clearBtnBackground.style.display = 'inline-block';
      };
      reader.readAsDataURL(file);
    }
  });

 
  // Clear profile
  clearBtnProfile?.addEventListener('click', function () {
    if (profileImagePreview.style.display !== 'none') {
      inputProfile.value = '';
      // profileImagePreview.src = '';
      profileImagePreview.style.display = 'none';
      fileNameSpanProfile.textContent = 'No file chosen';
    }
  });

  // Clear background
  clearBtnBackground?.addEventListener('click', function () {
     if (bgImagePreview.style.display !== 'none') {
      inputBackground.value = '';
      // bgImagePreview.src = '';
      bgImagePreview.style.display = 'none';
      fileNameSpanBackground.textContent = 'No file chosen';
    }
  });

});

</script>
</body>






