<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/signin-signup.css">

</head>
<body>
    <div class="wrapper">
        <div class="welcome" id="login-form-left">
            <h1>Welcome, Back!</h1>
            <h3>Dont have an account?</h3>
            <button onclick="displayRegister()">Register Here</button>
        </div>
        <form class="input-form" id="login-form-right">
            <h1>Login</h1>
            <h4>Start your session</h4>
            <div class="email">
                <input type="email" class="input-email" id="emailLogin" placeholder="" required >
                <label for="emailLogin"><h4>Email</h4></label>
            </div>
            <div class="password">
                <input type="password" class="input-password" id="passwordLogin" placeholder="" required>
                <label for="passwordLogin"><h4>Password</h4></label>
            </div>
            <div class="add-ons">
                <div class="remember">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me"><h3>Remember Me</h3></label>
                </div>
                <h3 class="forgot">Forgot Password?</h3>
            </div>
            <button type="submit" class="btn-login"><h3>Login</h3></button>
            <button class="google-btn">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
                <h3>Sign in with Google</h3>
            </button>
        </form>
        <form class="input-form-register" id="register-form-left">
            <h1>Register</h1>
            <h4>Buat akun sekarang</h4>
            <div class="slide-controls">
                <input type="radio" name="role" id="company" value="1" {% if role == '1' %}checked{% endif %}>
                <label for="company" class="slide company">Company</label>
                <input type="radio" name="role" id="investor" value="2" {% if role == '2' %}checked{% endif %}>
                <label for="investor" class="slide investor">Investor</label>
            </div>
            <div class="fieldUsername">
                <input type="text" class="input-username" id="username" placeholder="" required>
                <label for="username"><h4>Username</h4></label>
            </div>
            <div class="fieldEmail">
                <input type="email" class="input-email" id="emailRegister" placeholder="" required>
                <label for="emailRegister"><h4>Email</h4></label>
            </div>
            <div class="fieldPassword">
                <input type="password" class="input-password" id="passwordRegister" placeholder="" required>
                <label for="passwordRegister"><h4>Password</h4></label>
            </div>
            <div class="fieldConfirm">
                <input type="password" class="confirm-password" id="confirmpass" placeholder="" required>
                <label for="confirmpass" id><h4 id="labelCF">Confirm Password</h4></label>
            </div>
            <button type="submit" class="btn-login"><h3>Register</h3></button>
            <button class="google-btn">
                <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" />
                <h3>Sign Up with Google</h3>
            </button>
        </form>
        <div class="welcome-register" id="register-form-right">
            <h1>Hello,Welcome!</h1>
            <h3>Already have an account?</h3>
            <button onclick="displayLogin()">Login Here</button>
        </div>
    </div>
</body>
<script src="./scripts/registerLogin.js"></script>
</html>